body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
.mainContainer{
    width: 800px;
    margin: 0 auto;
}
.block-wrapper{
    display: flex;
    justify-content: center;
}
.block-wrapper button{
    background:none;
    text-decoration: none;
    color:rgba(0,0,0,.6);
    font-weight: bold;
    font-size: 20px;
    width:150px;
    height:150px;
    border:solid 8px rgba(0,0,255,.3);
    margin:20px;
    border-radius:8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-wrapper button:focus{
    outline: none;
    border:solid 8px rgba(0,0,255,.9);
}